[init]
	defaultRefFormat = files
[core]
	excludesfile = ~/.gitignore
[user]
	name = Christof Angermueller
	email = cangermueller@gmail.com
[color]
	ui = true
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[merge]
	tool = nvimdiff
[mergetool]
	prompt = false
[credential]
	helper = cache --timeout=86400
[push]
	default = simple
[pull]
	rebase = false
